# Semana 03

Ronaldo Yoel Gonza Morales

# Temas
1. Colección de datos
2. Estructuras de datos Decisivas y Repetitivas
3. Clases y Objetos
4. Funciones

# 1. Colecciones

In [9]:
# 1.1 Listas 
# Es una colección de elementos que puede ser ordenada, modificada,etc...
# Se identifica por los corchetes
# Ejemplos :
aula = ['Bernaloa', 'Chipana', 'Gomez', 'Navarro']
print(aula)

['Bernaloa', 'Chipana', 'Gomez', 'Navarro']

In [15]:
# Tambien se puede impromir con solo mencionar la lista
aula

['Bernaloa', 'Chipana', 'Gomez', 'Navarro']

In [23]:
# Podemos extraer cada elementos por su posición
print(aula[0])
print(aula[1])

Bernaloa
Chipana

In [27]:
# Puedo asignar un valor a una posición de la lista
aula[1] = 'chavez'
print(aula[1])

chavez

In [29]:
# Mostramos ocomo dquedo
aula

['Bernaloa', 'chavez', 'Gomez', 'Navarro']

In [31]:
# Para agregar un elemento utilizamos 'append'
aula.append("Hermitaño")
aula.append("Gomez")
aula

['Bernaloa', 'chavez', 'Gomez', 'Navarro', 'Hermitaño', 'Gomez']

In [35]:
# Para eliminarelementos utilizamos remove[]
aula.remove("Bernaloa")

ValueError: list.remove(x): x not in list

In [37]:
aula

['chavez', 'Gomez', 'Navarro', 'Hermitaño', 'Gomez']

In [39]:
# Si hubiera varios elementos de valores iguales se elimina la primera coincidencia
aula.remove("Gomez")

In [41]:
aula

['chavez', 'Navarro', 'Hermitaño', 'Gomez']

In [43]:
# Tamaño de lista
len(aula)

4

In [45]:
# Para recorrer podemos utilizr una etructura repetitiva
for alumno in aula:
    print(alumno)

chavez
Navarro
Hermitaño
Gomez

In [47]:
# Para invertir la lita usamos reverse()
aula.reverse()
aula

['Gomez', 'Hermitaño', 'Navarro', 'chavez']

In [51]:
# Para ordenar
aula.sort()
aula

['Gomez', 'Hermitaño', 'Navarro', 'chavez']

In [53]:
# 1.2 TUPLAS
# Es una colección de elementos ordenada() que no se pueden modificar, es inalterable.
# No se pueden agregar elementos ni eliminar.
# Se identifica por los parentisis
tupla_aula = ('Bernaloa','Chipana','Gomez','Navarro')
tupla_aula

('Bernaloa', 'Chipana', 'Gomez', 'Navarro')

In [55]:
# Se puede extraer un elemento por su posición
tupla_aula[2]

'Gomez'

In [57]:
#1.3 Conjuntos
# Es una colección de elementos que no está ordenado
# (No tiene indice)
conjunto_aula = {'Bernaloa','Chipana','Gomez','Navarro'}
conjunto_aula

{'Bernaloa', 'Chipana', 'Gomez', 'Navarro'}

In [59]:
#Se puede recorrer utilizando una estructura repetitiva
#
for alumno in conjunto_aula:
    print(alumno)

Chipana
Navarro
Gomez
Bernaloa

In [71]:
# Observación: No se puede acceder por posición pues no se considera indexación
# Por ejemplo:
#conjunto_aula[2] devolvía error

In [73]:
# cantidad de elemenos
len(conjunto_aula)

4

In [75]:
# Para agregar utilizamos la funcion add()
conjunto_aula.add("Palomino")
conjunto_aula

{'Bernaloa', 'Chipana', 'Gomez', 'Navarro', 'Palomino'}

In [77]:
#Para eliminar usamos remove()
conjunto_aula.remove("Chipana")
conjunto_aula

{'Bernaloa', 'Gomez', 'Navarro', 'Palomino'}

In [79]:
# 1.4 Diccionarios
# Es una coleccion de elementos, que están indexados,
# no están ordenados y se pueden modificar
# Son escritos entre llaves y están formados por pares de elementos
# INDICE:VALOR
diccionario_aula = {2:'Bernaola','1':'Chipana','dos':'Gomez ', '3':'Navarro', '0':'Palomino'}
diccionario_aula

{2: 'Bernaola',
 '1': 'Chipana',
 'dos': 'Gomez ',
 '3': 'Navarro',
 '0': 'Palomino'}

In [81]:
# Para añadir un par de elementos al diccionario hacemos:
diccionario_aula['20'] = "Vilca"
diccionario_aula

{2: 'Bernaola',
 '1': 'Chipana',
 'dos': 'Gomez ',
 '3': 'Navarro',
 '0': 'Palomino',
 '20': 'Vilca'}

In [83]:
#Para eliminar un valor se utiliza pop()
# Por ejemplos, eliminar el elemento de indice dos. 
diccionario_aula.pop(2)
diccionario_aula

{'1': 'Chipana',
 'dos': 'Gomez ',
 '3': 'Navarro',
 '0': 'Palomino',
 '20': 'Vilca'}

In [85]:
# TAMBIEN eliminamos utilizando del()
del(diccionario_aula["dos"])
diccionario_aula

{'1': 'Chipana', '3': 'Navarro', '0': 'Palomino', '20': 'Vilca'}

In [87]:
#Para recorrer todos los elemenos podemos utilizar for
# En este ejemplo devuelve los indices
for indice in diccionario_aula:
    print(indice)

1
3
0
20

In [89]:
# Para obtener el indice y el valor de cada elemento utilizamos items()
for indice, valor in diccionario_aula.items():
    print(indice,valor)

1 Chipana
3 Navarro
0 Palomino
20 Vilca

In [130]:
#Ejercicio: 
# 1.5. Ejercicio # Dado una lista de [BERNAL, BERNAOLA,
# CABALLERO, CALDERON, CARRASCO, CENTENO, CHALQUE, CHAVEZ, CONDORI, CRUZ,
# PALACIOS, PALOMINO, QUISPE, RAMOS, RODAS, SILVERA, TALAVERA, TINEO, VICTORIO, VILCA, ZEA]
# Diseñar un código que muestre si el apellido de un estudiante (Ingresado por teclado) forma parte de la lista # tiempo: 12 minutos

lista_aula = ['BERNAL', 'BERNAOLA',
'CABALLERO', 'CALDERON', 'CARRASCO', 'CENTENO', 'CHALQUE', 'CHAVEZ', 'CONDORI', 'CRUZ',
'PALACIOS', 'PALOMINO', 'QUISPE', 'RAMOS', 'RODAS', 'SILVERA', 'TALAVERA', 'TINEO', 'VICTORIO', 'VILCA', 'ZEA']




while True :
    busca = input("Ingrese un dato: ")
    if busca in lista_aula:
        print("Se encontro")
        break
    else:
        print("Nola")

Ingrese un dato:  wa

Nola

Ingrese un dato:  BERNAL

Se encontro