In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

dataframe = pd.read_csv('DSCancerdeMamaSinDatosPerdidos.csv',sep=';')

In [3]:
dataframe

    BIRADS;Age;Shape;Margin;Density;Severity
0                               5;67;3;5;3;1
1                               5;58;4;5;3;1
2                               4;28;1;1;3;0
3                               5;57;1;5;3;1
4                               5;76;1;4;3;1
..                                       ...
815                             4;47;2;1;3;0
816                             4;56;4;5;3;1
817                             4;64;4;5;3;0
818                             5;66;4;5;3;1
819                             4;62;3;3;3;0

[820 rows x 1 columns]